@layer component.layout {
    .host {
        display: grid;

        &>img {
            aspect-ratio: 1;
            object-fit: contain;
            inline-size: 100%;
        }

        &>span {
            font-size: 1.2em;
            font-weight: 700;
        }
    }

    @container (inline-size < 20em) {
        .host {
            grid-template-rows: subgrid;
            grid-template-columns: subgrid;
        }
    }

    @container (inline-size >=20em) {
        .host {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@layer component.spacing {
    .host {
        gap: var(--size-3);
        padding: var(--size-2);
    }
}

@layer component.theme {
    .host {
        color: var(--gray-9);

        &>img {
            border-radius: var(--radius-2);
        }
    }
}