@layer layout {
    .host {
      display: grid;
      grid: 100% / 12.5em 1fr;
      grid-template-areas: 'nav content';
      inline-size: 100%;
      block-size: 100%;
  
      & > nav {
        grid-area: nav;
        display: grid;
        grid: auto 1fr auto / 100%;
  
        & > header {
          display: grid;
          grid: 100% / auto 1fr;
          align-items: center;
        }
  
        & > section {
          display: grid;
          grid-auto-flow: row;
          align-content: start;
        }
      }
  
      & > main {
        grid-area: content;
        display: grid;
        grid-auto-flow: row;
        block-size: calc(100% - 2em);
        overflow-y: auto;
      }
    }
  }
  
  @layer spacing {
    .host {
      background-color: var(--white-500);
  
      & > nav {
        gap: 1em;
        padding: 1em;
  
        & > header {
          gap: .5em;
        }
  
        & > section {
          gap: .5em;
  
          & a {
            padding: .5em;
          }
        }
      }
  
      & > main {
        padding-inline: 2.5em;
        padding-block-end: 50em;
        margin-block: 1em;
      }
    }
  }
  
  @layer theme {
    .host {
      & > nav {
        background-color: var(--grey-200);
  
        & > header > span {
          font-weight: bold;
          font-size: 1.5em;
          color: var(--grey-700);
          line-height: 1;
        }
  
        & a {
          text-decoration: none;
          color: var(--grey-500);
          border-radius: .5em;
  
          &.active {
            font-weight: bold;
            color: var(--grey-700);
            background-color: var(--grey-300);
          }
        }
      }
    }
  }
  
  @layer overrides {
  }