@layer component.layout {
    #btn {
        & > img {
            inline-size: 2em;
            aspect-ratio: 1;
        }
    }

    #menu {
        position: absolute;
        /* inset-block-start: anchor(implicit end);
        inset-inline-end: anchor(implicit end); */
        inset-inline-start: auto;
        inset-inline-end: auto;

        position-fallback: --fallback;

        @position-fallback --fallback {
            @try {
                inset-block-end: anchor(top);
                /* inset-inline-start: calc(anchor(left) - (anchor(center) - anchor(left))); */
                inset-inline-start: anchor(left);
            }
            @try {
                inset-block-start: anchor(bottom);
                inset-inline-end: anchor(right);
            }
        }

        &:popover-open {
            display: grid;
        }
    }
}

@layer component.spacing {
    #btn {
        padding: 0;
    }

    #menu {
        margin: 0;
        padding: var(--size-3);
        gap: var(--size-3);
    }
}

@layer component.theme {
    #btn {
        background-color: transparent;
    }

    #menu {
        border: none;
        border-radius: var(--radius-3);
        box-shadow: var(--shadow-3);
    }
}