@layer app.layout {
    .host {
        display: grid;
        grid-template-columns: var(--grid);
        align-content: start;

        inline-size: 100%;
        block-size: 100%;
        overflow: auto;

        scroll-timeline: --page-scroll block;

        >.child {
            grid-column: var(--main);
        }
    }
}

@layer app.theme {
    .host {
        background-color: var(--gray-1);
    }
}