@layer app.layout {
    .host {
        display: grid;
        grid: auto auto 1fr / 100%;

        & > nav {
          display: grid;
          grid-auto-flow: column;
          justify-content: start;
          position: sticky;
          inset-block-start: 0;
          z-index: 2;
        }
    }
}

@layer app.spacing {
    .host {
        gap: 1em;

        & > nav {
            gap: 1em;

            & > a {
                padding: 1em;
            }
        }
    }
}

@layer app.theme {
    .host {
        & > nav {
            padding-inline: .5em;
            margin-inline: -.5em;
            border-block-end: .2em solid var(--gray-1);
            background-color: var(--gray-0);

            & > a:global(.active) {
                background-color: var(--gray-1);
            }
        }
    }
}