@layer feature.layout {
    .host {
        /* display: grid;
        grid: auto 1fr / 100%; */

        & > header {
            /* position: sticky;
            inset-block-start: 0;
            display: grid;
            grid-auto-flow: column;
            justify-content: space-between;
            z-index: 1; */

            & > form {
                /* display: grid;
                grid-auto-flow: column;
                align-items: center; */
            }
        }

        & > main {
            /* display: grid;
            grid-auto-flow: column;
            justify-content: start;
            align-items: start;
            overflow-x: auto;
            scrollbar-gutter: stable; */
        }
    }
}

@layer feature.spacing {
    .host {
        /* gap: var(--size-5); */

        & > header {
            /* gap: var(--size-3); */

            & > form {
                /* gap: var(--size-2); */

                & > input {
                    /* padding: var(--size-1) var(--size-2); */
                }
            }
        }

        & > main {
            /* padding-block: var(--size-3);
            gap: var(--size-7); */
        }
    }
}

@layer feature.spacing {
    .host {
        & > header {
            /* background-color: var(--gray-0); */
        }

        & > main {
            & > *:not(:last-child) {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    inset-inline-end: calc(-0.5 * var(--size-7));
                    block-size: 100%;
                    border-inline-end: 1px solid var(--gray-2);
                }
            }
        }
    }
}
