@layer feature.layout {
    .popoverHost {
        position-fallback: --fallback;

        @position-fallback --fallback {
            @try {
                inset-block-start: anchor(end);
                inset-inline-end: anchor(end);
            }
        }
    }
}

@layer feature.spacing {
    .host {
        & > main {
            margin: unset;
            padding: unset;
        }
    }
}

@layer feature.theme {
    .host {
        & > main {
            & > form {
                border-block-end: 1px solid var(--gray-7);

                & > input {
                    background: transparent;
                    border: none;

                    &::placeholder {
                        color: var(--gray-5);
                    }
                }

                & > button {
                    background: transparent;
                    font-weight: bold;
                }
            }
        }
    }
}
