@layer app.layout {
    .form {
        display: grid;
        grid: 1fr / 1fr auto;
    }

    .host {
        &>form {
            display: grid;
            grid: 1fr / 1fr auto;
        }

        &:popover-open {
            display: grid;
            grid-template-columns: 100%;
            align-content: start;
            inline-size: 60%;
            block-size: 60%;
        }
    }
}

@layer app.spacing {
    .form {
        &>input {
            padding-inline-start: var(--size-3);
            padding-block: var(--size-2);
        }
    }

    .host {
        gap: var(--size-5);

        &>form {
            &>input {
                padding-inline-start: var(--size-3);
                padding-block: var(--size-2);
            }
        }

        &:popover-open {
            padding: var(--size-3);
        }
    }
}

@layer app.theme {
    .form {
        border: 1px solid transparent;
        border-radius: var(--radius-2);

        &>input {
            background-color: var(--gray-2);
            color: var(--gray-10);

            border: none;
            border-inline-end: 1px solid transparent;
            border-radius: var(--radius-2) 0 0 var(--radius-2);
        }

        &>button {
            background-color: var(--gray-2);
            color: var(--gray-10);

            border: none;
            border-radius: 0 var(--radius-2) var(--radius-2) 0;
        }

        &:focus-within {
            border-color: var(--gray-10);

            &>:focus-visible {
                border-color: var(--gray-10);
                outline: none;
            }
        }
    }

    .host {
        background-color: transparent;
        border: none;

        &:popover-open {
            background-color: var(--gray-0);
            border: 2px solid var(--gray-1);
            border-radius: var(--radius-3);
            box-shadow: var(--shadow-3);

            &>form {
                &>input {
                    background-color: var(--gray-1);
                    color: var(--gray-10);

                    font-size: 1.5rem;

                    border: none;
                    border-radius: var(--radius-3) 0 0 var(--radius-3);
                }

                &>button {
                    background-color: var(--gray-1);
                    color: var(--gray-10);

                    font-size: 1.5rem;

                    border: none;
                    border-radius: 0 var(--radius-3) var(--radius-3) 0;
                }
            }
        }
    }
}