@layer component.theme {
    .host {
        animation-name: nav-host-scroll;
        animation-timeline: --page-scroll;
        animation-range-end: 9em;
        animation-fill-mode: both;

        background-color: var(--gray-1);

        & > div {
            & > header {
                animation-name: nav-header-scroll;
                animation-timeline: --page-scroll;
                animation-range-end: 9em;
                animation-fill-mode: both;
                transform-origin: top left;

                translate: 0 -5em;
                scale: 1.25;
            }

            & > main {
                animation-name: nav-main-scroll;
                animation-timeline: --page-scroll;
                animation-range-end: 9em;
                animation-fill-mode: both;
                transform-origin: top left;

                translate: calc(-10em - var(--size-3)) 0;
            }
        }
    }

    @keyframes nav-host-scroll {
        from {
            background-color: var(--gray-1);
        }

        to {
            background-color: var(--gray-2);
        }
    }

    @keyframes nav-header-scroll {
        from {
            translate: 0 -5em;
            scale: 1.25;
        }

        75% {
            scale: 1;
        }

        to {
            translate: 0 0;
            scale: 1;
        }
    }

    @keyframes nav-main-scroll {
        from {
            translate: calc(-10em - var(--size-3)) 0;
        }

        20% {
            translate: -5em 0;
        }

        to {
            translate: 0 0;
        }
    }
}
